body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(123, 107, 107);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Style the navbar */
.navbar {
  display: flex;
  align-items: center;
  background-color: #3c3636;
}

.navbar h1 {
  color: #d6c060; /* Vibrant pink */
  font-size: 28px; /* Slightly larger font size */
  margin-right: auto;
  margin-left: auto;
  text-transform: uppercase; /* Uppercase text */
  
}


/*CSS for EmotionDetector*/
/* Style the video and canvas elements */
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Adjust the spacing between title and content */
  max-width: 100%; /* Add this line */
}

.bordered-video,
.appcanvas {
  border: 5px solid #fff; /* White border around the video and canvas */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add a subtle shadow */
  margin: 10px; /* Adjust the spacing around video and canvas */
}

@media (min-width: 600px) and (max-width: 1500px) {
  .navbar h1 {
    font-size: 20px; /* Adjust font size for smaller screens */
  }
  
  .content {
    flex-direction: column; /* Stack content vertically */
    margin-top: 30px; /* Reduce spacing between title and content */
  }
  
  .bordered-video,
  .appcanvas {
    width: 50%; /* Add 'px' to the values */
    height: auto; /* Add 'px' to the values */
    margin: 10px auto; /* Reduce spacing around video and canvas */
  }
}

@media (max-width: 600px) {
  .navbar h1 {
    font-size: 12px; /* Adjust font size for smaller screens */
  }
  
  .content {
    flex-direction: column; /* Stack content vertically */
    margin-top: 10px; /* Reduce spacing between title and content */
  }
  
  .bordered-video,
  .appcanvas {
    width: 310px; /* Add 'px' to the values */
    height: 280px; /* Add 'px' to the values */
    margin: 5px; /* Reduce spacing around video and canvas */
  }
}

